/*All editing for the entire page*/
body{
    background-color: #fff;
    background-image: url("../Images/bgpattern.png");
    background-repeat: repeat;
    background-position:center;
}
    /*All editing done inside the body of the page*/
    #wrapper{
        width: 80%;
        height: 100%;
        margin: .5em auto;
        padding: 1em;
        background-color: #808080;
        border: .5em .5em #000;
        border-radius: 1.5em;
        text-align: left;
        opacity: .8;
    }
    	.content{
    		float: left;
    		width: 50%;
    	}
    	header{
        	width: 100%;
        	float: center;
    	}
    	nav{
    		display: block;
    	}
    	/*Text declarations*/
    	h1, h2, h3{
        	padding: 0 .5em;
        	color: #000;
        	font-family: "lato", arial, sans-serif;
    	}
    	h1{
    		font-size: 3em;
    		text-shadow: .2em .2em #ffffff;
    		color: #808080;
    		box-shadow: 1em 1em .5em #000;
    		width: 16em;
    	}
    	h2{
    		font-size: 2.5em;
    	}
    	h3{
    		font-size: 2em;
    	}
    	p h1{
        	margin: .5em auto;
        	padding: 1em;
        	color: #000;
        	font-family: arial, sans-serif;
        	font-weight: normal;
        	font-size: 1.6em;
    		font-weight: bold;
    	}
    	ol{
    		list-style-type: lower-roman;
    	}
    	/*All editing done to links*/
		ul{
    		font-style: italic;
    	}
    	aside{
    		float: right;
    		width: 40%;
    	}
    	a:link {
    	    color: #208c9a;
    	}
    	a:visited {
    	    color: #000;
    	}
    	a:hover {
    	    color: #7AACE7;
    	}
    	a:active {
    	    color: #7EFAA7;
    	}