/*All editing for the entire page*/
body{
    background-color: #fff;
    background-image: url("../Images/xv.png");
    background-repeat: repeat;
    background-position:center;
}
    /*All editing done inside the body of the page*/
    #wrapper{
        width: 80%;
        height: 100%;
        margin: .5em auto;
        padding: 1em;
        background-color: #808080;
        border: .5em .5em #000;
        border-radius: 1.5em;
        text-align: left;
        opacity: .8;
        overflow: hidden;
    }
    	#content{
    		float: left;
    		width: 60%;
    	}
    	header{
        	width: 100%;
        	border: .1em dashed #000;
        	background-image: url("../Images/pizzabg.jpg");
    		background-repeat: no-repeat;
    		background-position: top right;
    	}
    	nav{
    		display: block;
    	}
    	/*Text declarations*/
    	h1, h2, h3{
        	padding: 0 .5em;
        	color: #000;
        	font-family: "lato", arial, sans-serif;
    	}
    	h1{
    		font-size: 3em;
    		text-shadow: .05em .05em #ffffff;
    		color: #808080;
    		box-shadow: .3em .3em .5em #000;
    		width: 5em;
    	}
    	h2{
    		font-size: 2.5em;
    	}
    	h3{
    		font-size: 2em;
    	}
    	p{
        	margin: .5em auto;
        	padding: 1em;
        	color: #000;
        	font-family: arial, sans-serif;
        	font-weight: normal;
        	font-size: 1.25em;
    	}
    	#hp{
    		font-weight: bold;
    	}
    	ol{
    		list-style-type: lower-roman;
    	}
    	/*All editing done to links*/
		ul{
    		font-style: italic;
    	}
    	aside{
    		float: right;
    		width: 30%;
    		height: 100%;
    		background: linear-gradient(#f5f5f5, #808080);
    		
    	}
    	footer{
    		clear: left;
    	}
    	a:link {
    	    color: #208c9a;
    	}
    	a:visited {
    	    color: #000;
    	}
    	a:hover {
    	    color: #7AACE7;
    	}
    	a:active {
    	    color: #7EFAA7;
    	}